.mrl-banner {
    color: black;
    text-align: right;
    padding: 5px 50px;
    justify-content: space-between;
    font-family: roboto;
    align-items: center;
}

.mrl-banner a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

.mrl-logo {
    width: 68px;
    height: 62px;
}

.link_container {
    gap: 50px;
    transition: 0.1s;
    opacity: 1;
}

.link_container:hover {
    opacity: 0.5;
}

.link_container a:hover  {
    opacity: 1;
}

a {
    font-size: 20px;
    font-weight: 400;
    transition: 0.2s;
}

a:hover {
    color: #4FD6F4;
    font-weight: 800;
}